<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="5;url=/" />
  <title>Inloggning</title>
  <link rel="icon" href="../static/pictures/favicon.ico" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/unauthorized.css">
  <script src="https://use.fontawesome.com/73625e5286.js"></script>
  <script src="../static/javascript/timer.js"></script>
</head>
<body class="full">
  <!--                Meny                -->
  <nav class="navbar navbar-default navbar-fixed-top" id="menu_main" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <div class="navbar-brand">
          <a href="/"><img alt="Logga" id="logo" src="../static/pictures/LoggiLueLogo.png"></a>
          <h2 id="namn">LoggiLue</h2>
        </div>
      </div>
    </div>
  </nav>
  <!--                Meny slut           -->
  <div class="container">
    <div class="row">
      <div class="col-lg-16">
        <div class="page-header">
          <h2 class="text-center">Välkommen till LoggiLue! Du är nu registrerad och kommer skickas till inloggningen om <span id="count">5</span> sekunder</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="mongo2">
          <div class="service-box">
            <div class="col-lg-3 col-md-6 text-center">
              <i class="fa fa-4x fa fa-user-o text-primary sr-icons"></i>

              <h6>Skapa</h6>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <i class="fa fa-4x fa-pencil text-primary sr-icons"></i>

              <h6>Anteckna</h6>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <i class="fa fa-4x fa-share-alt text-primary sr-icons"></i>
              <h6>Dela</h6>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <i class="fa fa-4x fa-eye text-primary sr-icons"></i>
              <h6>Skåda</h6>
            </div>
          </div>
        </div>
      </div>




    </body>


  </body>
  </html>
