<!DOCTYPE html>
<html lang="sv">
<head>
	<title>Registrering</title>
	<link rel="icon" href="../static/pictures/favicon.ico" type="image/gif" sizes="16x16">
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/register.css" rel="stylesheet">
</head>
<body>
	<!--                Meny                -->
	<nav class="navbar navbar-default navbar-fixed-top" id="menu_main" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
				<div class="navbar-brand">
					<a href="/"><img alt="Logga" id="logo" src="../static/pictures/LoggiLueLogo.png"></a>
					<h2 id="namn">LoggiLue</h2>
				</div>
			</div>
		</div>
	</nav><!--                Meny slut           -->

	<div class="row">

	</div>
</div>



<div class="pg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div id="mongo">
					<blockquote class="blockquote">
						<p class="text">"Everybody is ignorant, only on different subjects."</p>
						<cite>- Will Rogers</cite>
					</blockquote>
					<hr>
					<h3 class="text-center">Ett kostnadsfritt konto är allt du behöver</h3>
					<p class="text-center">Ta ditt första steg till ett enklare studentliv. På våran sida hittar du anteckningar till alla kurser kopplade till ditt program. Inloggningen går snabbt sedan är det bara till att sätta igång.</p>
					<div class="service-box">
						<div class="col-lg-3 col-md-6 text-center">
							<i class="fa fa-4x fa fa-user-o text-primary sr-icons"></i>

							<h6>Skapa</h6>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
							<i class="fa fa-4x fa-pencil text-primary sr-icons"></i>

							<h6>Anteckna</h6>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
							<i class="fa fa-4x fa-share-alt text-primary sr-icons"></i>
							<h6>Dela</h6>
						</div>
						<div class="col-lg-3 col-md-6 text-center">
							<i class="fa fa-4x fa-eye text-primary sr-icons"></i>
							<h6>Skåda</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="well smell">
					<form onsubmit="return checkForm(this);" action="/signUp" method="POST">
						<h2 class="form-signin-heading">Registrera nu</h2>
						<div class="input-group margin-bottom-sm">
							<label for="username"<span class="input-group-addon"><svg class="svg-icon" viewbox="0 0 20 20">
								<path d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"></label></path></svg></span><input class="form-control email" id="username" name="username" placeholder="Användarnamn" required="" type="text">
							</div>
							<div class="input-group margin-bottom-sm">
								<label for="psw"<span class="input-group-addon"><svg class="svg-icon" id="lock" viewbox="0 0 20 20">
									<path d="M17.308,7.564h-1.993c0-2.929-2.385-5.314-5.314-5.314S4.686,4.635,4.686,7.564H2.693c-0.244,0-0.443,0.2-0.443,0.443v9.3c0,0.243,0.199,0.442,0.443,0.442h14.615c0.243,0,0.442-0.199,0.442-0.442v-9.3C17.75,7.764,17.551,7.564,17.308,7.564 M10,3.136c2.442,0,4.43,1.986,4.43,4.428H5.571C5.571,5.122,7.558,3.136,10,3.136 M16.865,16.864H3.136V8.45h13.729V16.864z M10,10.664c-0.854,0-1.55,0.696-1.55,1.551c0,0.699,0.467,1.292,1.107,1.485v0.95c0,0.243,0.2,0.442,0.443,0.442s0.443-0.199,0.443-0.442V13.7c0.64-0.193,1.106-0.786,1.106-1.485C11.55,11.36,10.854,10.664,10,10.664 M10,12.878c-0.366,0-0.664-0.298-0.664-0.663c0-0.366,0.298-0.665,0.664-0.665c0.365,0,0.664,0.299,0.664,0.665C10.664,12.58,10.365,12.878,10,12.878"></label></path></svg></span> <input class="form-control password" id="psw" name="psw" placeholder="Lösenord" required="" type="password"> <input class="show_pass" id="show_password" type="button" value="Visa lösenordet">
								</div>
								<div class="input-group margin-bottom-sm">
									<label for="email"<span class="input-group-addon"><svg class="svg-icon" viewbox="0 0 20 20">
										<path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"></label></path></svg></span><input class="form-control email" id="email" name="email" placeholder="E-postadress" required="" type="text">
									</div>
									<div class="panel panel-default">
										<div class="panel-body ett text-center">
											Välj ditt program:
										</div>
										<div class="panel-body text-center">
											<select class="register" id="prgm" name="prgm" required="">
												{% for row in result %}
												<option value="{{"%s" % (row[0])}}">{{"%s, %s" % (row[1], row[2])}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="etc-login-form">
										<input type="submit" value="Registrera" class="login">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
			</script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
			</script>
			<script src="https://use.fontawesome.com/73625e5286.js">
			</script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
			</script>
			<script src="https://npmcdn.com/headroom.js">
			</script>
			<script src="../static/javascript/index.js">
			</script>
			<script src="../static/javascript/register_check.js">
			</script>
			<script src="../static/javascript/show_password.js">
			</script>
		</body>
		</html>
