
/* Bakgrundsbilden */
div.pg
{
  margin-top: -90px;
  padding-bottom:  10px;
  background-image: url("../pictures/bluegraident.png");
  background-color: #5ab9ea;
  background-size: cover;
  overflow: auto;

}
/* Slut Bakgrundsbilden */

/* ----------------------------------------------------------------------------- */

/* Meny */
a
{
  color: white !important;
}

#menu_main{
  background: transparent;
  padding-top: 17px;
  border-bottom-color: rgba( 255, 255, 255, 0.3) ;
}

#logo
{
  width: 132px;
  height: 72px;
  position: fixed;
  margin-top: -34px;
  left: 2%;
}
#namn
{
  margin-left: 110%;
  margin-top: -10%;
  color: white;
}

ul.navbar-nav
{
  margin-left: 20px;
}
ul.navbar-right
{
  margin-right: 300px;
}
.menu-item-left
{
  margin-top: -5px;
}

/* Slut Meny */

/* Animationer till menyn kopplat till JS */
.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%)
    }
    100% {
        -moz-transform: translateY(0)
    }
}
@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-100%)
    }
    100% {
        -o-transform: translateY(0)
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}
.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-100%)
    }
}
@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }
    100% {
        -moz-transform: translateY(-100%)
    }
}
@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }
    100% {
        -o-transform: translateY(-100%)
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-100%)
    }
}
.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

/* Slut -Animationer till menyn kopplat till JS */

/* ----------------------------------------------------------------------------- */


/* Inloggningsrutan och alla element i den */
div.well.smell
{
 background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom:0;
  padding-right: 0;
  padding-left: 0;
  border-color: rgba( 255, 255, 255, 0.3) !important;
  margin-top: 200px;
}
.service-box{
  padding-top: 70px;
}
i.fa{
  color: white;
}
#mongo
{
 background: none;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom:0;
  padding-right: 0;
  padding-left: 0;
  border:none;
  margin-top: 200px;
  color: white;
}

.form-signin-heading
{
    text-align: center;
    color: white;
    padding-bottom: 35px;
}


input.login
{
  margin-top: 60px;
  margin-left: 25%;
  margin-bottom: 60px;
  width: 50%;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 20px;
  font-size: 22px;
  color: white;

}



input.login:hover {
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}


#username{
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba( 255, 255, 255, 0.3) ;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: white;
  margin-top: 18px;
  font-size: 22px;

}
#username:focus{
  border-bottom:2px solid white;
}

#email{
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba( 255, 255, 255, 0.3) ;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: white;
  margin-top: 15px;
  font-size: 22px;

}
#email:focus{
  border-bottom:2px solid white;
}

.svg-icon{
  stroke-dasharray: 99;
  animation: dash 3s  linear forwards;
  width: 35px;
  height: 35px;
  stroke: rgb(255, 255, 255);
  fill: none;
  margin-top: 9px;


}



.input-group-addon{
  color: white;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;



}
.show_pass{
  background:transparent;
  border:none;
  color: white;

}

.show_pass:hover{
  color: rgba(5,5,5,0.4);
}

#psw {
  margin-top: 15px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba( 255, 255, 255, 0.3);
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: white;
  margin-top: 32px;
  font-size: 22px;



}

#psw:focus{

  border-bottom:2px solid white;

}

blockquote {
  background:rgba(5,5,5,0.4);
  border-left: 8px solid #5AB9EA;
  margin-left: 10px;
  margin-right:10px;
  padding: 10px;
  color: #5AB9EA;


}

hr{
  width: 125px;
}


.panel.panel-default{
	background:rgba(5,5,5,0.4);
	border:none;
	border-radius: 0 !important;
	color: white;
	font-size: 19px;
  margin-top: 80px;
}
.register{
  width: 85%;
  background: transparent;
  border: 2px solid;
  -moz-border-image: -moz-linear-gradient(top, #5AB9EA 0%,#5680E9 50%, #8860D0 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #5AB9EA 0%,#5680E9 50%, #8860D0 100%);
  border-image: linear-gradient(to bottom, #5AB9EA 0%,#5680E9 50%, #8860D0 100%);
  border-image-slice: 1;
  color: white;
  padding: 20px;
  font-size: 15px;
}

.register:hover{
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.form-control:focus {
-webkit-box-shadow: none;
      outline: -webkit-focus-ring-color auto 0px;}


.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }


/* Slut Inloggningsrutan och alla element i den */

/* Animationer till SVG Filerna */

@keyframes dash{
  from {
    stroke-dashoffset: 100;
  }
  to{
    stroke-dashoffset:10;
  }
}

/* Slut Animationer till SVG Filerna */

/* ----------------------------------------------------------------------------- */
