<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mörtfors dagblad</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <link href="../static/css/hamburgers.min.css" rel="stylesheet">

  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

  <header class="jumbotron text-center">
    <h1>Mörtfors dagblad v0.1</h1>
  </header>

  <section class="sm_container">
    <div class="row">
      <div class="addArticle">
        <h2>Lägg till artikel</h2>
        <p>Fyll i alla fält och tryck sedan på "Lägg till Artikel", för att ladda upp den skapade artiklen.</p>
        <form onsubmit="return checkForm(this);" action="/addArticle" method="POST">

          <label for="rubrik">Rubrik:</label>
          <input type="text" class="form-control" id="rubrik" name="rubrik">
          <label for="ingress">Ingress:</label>
          <textarea class="form-control" rows="2" id="ingress" name="ingress"></textarea>
          <label for="text">Text:</label>
          <textarea class="form-control" rows="5" id="text" name="a_text"></textarea>
          <label class="date" for="date">Datum:</label>
          <input class="date" id="date" type="date" name="date">

          <!-- Add artikel modal Modal -->
          <div class="modal fade" id="addArtModel" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Spara för att ladda upp artikel</h4>
                </div>
                <div class="modal-footer">
                  <!-- Lägger till artikel -->
                  <button type="submit" class="btn btn-success">Spara</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <select>
          <option value="" selected disabled hidden>Välj författare</option>
          {% for f in forfattare %}
          <option value="{{'%s' % (f[0])}}">{{"%s" % (f[0])}} {{"%s" % (f[1])}}</option>
          {% endfor %}
          </select>
          <button>Lägg till författare</button>
          <div class="form-group">
          <textarea class="form-control" rows="2" id="valdForfattare"></textarea>
          </div>
          <select>
          <option value="" selected disabled hidden>Välj bilder</option>
          {% for b in bilder %}
          <option value="{{"%s" % (b[1])}}">{{"%s" % (b[0])}}</option>
          {% endfor %}
          </select>
          <button>Lägg till bilder</button>
          <div class="form-group">
          <textarea class="form-control" rows="2" id="valdaBilder"></textarea>
          </div> -->

    </form>
    <br>
    <button id="ArticleButton" class="btn btn-success">Lägg till Artikel</button>
    <button class="btn btn-danger">Rensa</button>
  </div>

</div>


<hr>



<div class="row">
  <div class="addArticle">
    <h2>Lägg till författare</h2>
    <p>Lägg till en författare till databasen genom att fylla i alla uppgifter. Tryck sedan "Lägg till Författare" för att ladda upp till databasen.</p>
    <p>För att få knyta personen till en artikel behöver man koppla den till en sådan lite längre ner på sidan.</p>
    <form  onsubmit="return checkForm(this);" action="/addAuthor" method="POST">
      <label for="namn">Namn:</label>
      <input type="text" class="form-control" id="namn" name="namn">
      <label for="efternamn">Efternamn:</label>
      <input type="text" class="form-control" id="efternamn" name="efternamn">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" id="email" name="email">
      <label for="telefon">Personnummer: </label>
      <input type="text" class="form-control" id="telefon" name="telefon">
      <label for="telefon">Lösenord</label>
      <input type="password" class="form-control" id="losenord" name="losenord">
      <!-- Add forf modal Modal -->
      <div class="modal fade" id="addForfModel" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Spara för att lägga till författare</h4>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Spara</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </form>
    <button id="addForfButton" class="btn btn-success">Lägg till Författare</button>
    <button class="btn btn-danger">Rensa</button>
  </div>



</div>

<hr>

<div class="row">
  <div class="addArticle">
    <h2>Lägg till bild</h2>
    <p>Ladda upp en bild till databasen genom att länka en bild genom en bildadress och fyll i ett namn. Tryck sedan lägg till bild för att ladda upp den till databasen.</p>
    <p>För att få den i en artikel behöver man koppla den till en sådan lite längre ner på sidan.</p>
    <form  onsubmit="return checkForm(this);" action="/addImage" method="POST">
      <label for="bild">Ange bildadress</label>
      <input type="text" class="form-control" id="bild" name="bild">
      <label for="bildnamn">Ange passande namn:</label>
      <input type="text" class="form-control" id="bnamn" name="bnamn">
      <!-- Add Bild modal Modal -->
      <div class="modal fade" id="addBildModel" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Spara för att lägga till bilden</h4>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Spara</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button id="bildButton" class="btn btn-success">Lägg till Bild</button>
    <button class="btn btn-danger">Rensa</button>
  </div>

</div>

<hr>

<div class="row">
  <div class="addArticle">
    <h2>Lägg till författare till artikel</h2>
    <p>Ange vilken bild som ska höra till vilken artikel.</p>
    <form onsubmit="return checkForm(this);" action="/connectForf" method="POST">
      <div class="form-group">
        <select id="artforf" name="art_id">
          <option value="" selected disabled hidden>Välj artikel</option>
          {% for ar in artikel %}
          <option value="{{'%s' % (ar[0])}}">{{"%s" % (ar[1])}}</option>
          {% endfor %}
        </select>
        <select id="forfart" name="forf_id">
          <option value="" selected disabled hidden>Välj författare</option>
          {% for f in forfattare %}
          <option value="{{'%s' % (f[2])}}">{{"%s" % (f[0])}} {{"%s" % (f[1])}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal fade" id="connectForfModel" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Spara för att koppla författaren</h4>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Spara</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </form>
    <button id="kopplaForf" class="btn btn-success">Koppla</button>
  </div>

</div>
<hr>

<div class="row">
  <div class="addArticle">
    <h2>Lägg till bild till artikel</h2>
    <p>Ange vilken bild som ska höra till vilken artikel</p>
    <form onsubmit="return checkForm(this);" action="/connectImage" method="POST">
      <div class="form-group">
        <select id="artbild" name="artbild">
          <option value="" selected disabled hidden>Välj artikel</option>
          {% for a in artikel %}
          <option value="{{'%s' % (a[0])}}">{{"%s" % (a[1])}}</option>
          {% endfor %}
        </select>
        <select id="bildart" name="bildart">
          <option value="" selected disabled hidden>Välj bilder</option>
          {% for b in bilder %}
          <option value="{{'%s' % (b[2])}}">{{"%s" % (b[0])}}</option>
          {% endfor %}
        </select>
        <br>
        <label for="bildnamn">Ange passande bildtext:</label>
        <input type="text" class="form-control" id="bildnamn" name="bildnamn">
      </div>
      <div class="modal fade" id="connectBildModel" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Spara för att koppla bilden</h4>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Spara</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </form>
    <button id="kopplaBild" class="btn btn-success" >Koppla</button>
  </div>

</div>

</div>
</section>

<nav id="openMenu">
  <button id="hamburger" class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</nav>

<nav id="menu" class="navbar navbar-expand-sm bg-danger navbar-dark">

  <ul class="navbar-nav">
    <li><a class="navbar-brand">Logo</a></li>
    <li class="first nav-item active">
      <a class="nav-link" href="/">Hem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news">Nyheter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/images">Bildarkiv</a>
    </li>
    <li class="nav-item right">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#logInModal">Logga in</a>
    </li>
  </ul>

</nav>

<nav id="logInMenu" class="navbar navbar-expand-sm bg-danger navbar-dark">

  <ul class="navbar-nav">
    <li><a class="navbar-brand">Logo</a></li>
    <li class="first nav-item ">
      <a class="nav-link" href="/">Hem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news">Nyheter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/images">Bildarkiv</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/add">Lägg till</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings">Inställningar</a>
    </li>
    <li class="nav-item right">
      <a class="nav-link tight" href="/">Logga ut</a>
    </li>
  </ul>

</nav>

<!-- Modal -->
<div id="logInModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form  onsubmit="return checkForm(this);" action="/logIn" method="POST" class="form-signin">
          <h2 class="form-signin-heading">Logga in</h2>
          <label for="inputEmail" class="sr-only">Epost</label>
          <input id="username" name="username"  class="form-control" placeholder="Ange epost" required autofocus>
          <label for="inputPassword" class="sr-only">Lösenord</label>
          <input id="psw" name="psw" type="password"  class="form-control" placeholder="Ange lösenord" required>
          {{wrong}}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Logga in</button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>

  </div>
</div>

<footer id="footerIn">
  <div class="container">
    <div class="row">
      <a>Logo</a>
      <ul>
        <li><a  class="activ" href="/">Hem</a></li>
        <li><a href="/news">Nyheter</a></li>
        <li><a href="/images">Bildarkiv</a></li>
        <li><a class="tight" href="#" data-toggle="modal" data-target="#logInModal">Logga in</a></li>
      </ul>
    </div>
  </div>
</footer>
<footer id="footerOut">
  <div class="container">
    <div class="row">
      <a>Logo</a>
      <ul>
        <li><a  href="/">Hem</a></li>
        <li><a href="/news">Nyheter</a></li>
        <li><a href="/images">Bildarkiv</a></li>
        <li><a  class="activ" href="/add">Lägg till</a></li>
        <li><a href="/settings">Inställningar</a></li>
        <li><a class="tight" href="/">Logga ut</a></li>
      </ul>
    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<script src="../static/js/controller.js"></script>
<script src="../static/js/addArticle.js"></script>
<script src="../static/js/nav_hamburger.js"></script>

</body>
</html>
