<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mörtfors dagblad</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <link href="../static/css/hamburgers.min.css" rel="stylesheet">

  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

  <header class="jumbotron text-center">
    <h1>Mörtfors dagblad v0.1</h1>
  </header>

  <section class="container">
    {% for t in totList %}
    <div class="artikel">
      <h3>{{"%s" % (t["rubrik"])}}</h3>
      <p class="artikelIngress">{{"%s" % (t["ingress"])}}</p>
      {% for b in t["bilder"] %}
      <img class="artikelImage" src="{{b[1]}}" alt="{{b[0]}}"/>
      <p class="bildTextArt">{{b[0]}}</p>
      {% endfor %}
      <p class="textArtikel">{{"%s" % (t["text"])}}</p>
      <p class="dateArtikel">{{"%s" % (t["datum"])}}</p>
      <!-- <p>{{"%s" % (t["forfattare"])}}</p> -->
      <h5>Författare:</h5>
      {% for f in t["forfattare"] %}
      <p>{{f[0] + " " + f[1]}}</p>
      {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <div class="row">
      <div class="col-sm-7 commentary">
        <h5>Kommentarer:</h5>
        <hr>
        {% for kommentar in kommentarer %}
          <p>Namn: {{kommentar[0]}}</p>
          <p>{{kommentar[1]}}</p>
          <a href="/deleteComment/{{'%s' % (kommentar[2])}}" type="button" class="close delComment">&times;</a>
          <p>{{kommentar[3]}}
          <hr>
        {% endfor %}

      </div>
      <div class="col-sm-4 addCommentary">
        <h5>Lägg till kommentar:</h5>
        <form onsubmit="return checkForm(this);" action="/addComment" method="POST">
          <div class="form-group">
            <input class="hide" type="text" id="art_id" name="art_id" placeholder="{{ artikel_id }}" value="{{ artikel_id }}"><br>
            <label for="knamn">Ange namn:</label>
            <input type="text" class="form-control" id="knamn" name="knamn">
            <label for="kommentar">Kommentar:</label>
            <textarea class="form-control" rows="5" id="kommentar" name="kommentar"></textarea><br>
            <a id="commentaryButton" class="btn btn-success">Lägg till kommentar</a>
          </div>

          <div class="modal fade" id="addCommentaryModel" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Lägg till kommentar</h4>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Spara</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </section>

  <nav id="openMenu">
    <button id="hamburger" class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>

  <nav id="menu" class="navbar navbar-expand-sm bg-danger navbar-dark">

    <ul class="navbar-nav">
      <li><a class="navbar-brand">Logo</a></li>
      <li class="first nav-item active">
        <a class="nav-link" href="/">Hem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Nyheter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/images">Bildarkiv</a>
      </li>
      <li class="nav-item right">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logInModal">Logga in</a>
      </li>
    </ul>

  </nav>

  <nav id="logInMenu" class="navbar navbar-expand-sm bg-danger navbar-dark">

    <ul class="navbar-nav">
      <li><a class="navbar-brand">Logo</a></li>
      <li class="first nav-item ">
        <a class="nav-link" href="/">Hem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Nyheter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/images">Bildarkiv</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/add">Lägg till</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Inställningar</a>
      </li>
      <li class="nav-item right">
        <a class="nav-link tight" href="/">Logga ut</a>
      </li>
    </ul>

  </nav>

  <!-- Modal -->
  <div id="logInModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form  onsubmit="return checkForm(this);" action="/logIn" method="POST" class="form-signin">
            <h2 class="form-signin-heading">Logga in</h2>
            <label for="inputEmail" class="sr-only">Epost</label>
            <input id="username" name="username"  class="form-control" placeholder="Ange epost" required autofocus>
            <label for="inputPassword" class="sr-only">Lösenord</label>
            <input id="psw" name="psw" type="password"  class="form-control" placeholder="Ange lösenord" required>
            {{wrong}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logga in</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        </div>
      </div>

    </div>
  </div>

  <footer id="footerIn">
    <div class="container">
      <div class="row">
        <a>Logo</a>
        <ul>
          <li><a  class="activ" href="/">Hem</a></li>
          <li><a href="/news">Nyheter</a></li>
          <li><a href="/images">Bildarkiv</a></li>
          <li><a class="tight" href="#" data-toggle="modal" data-target="#logInModal">Logga in</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <footer id="footerOut">
    <div class="container">
      <div class="row">
        <a>Logo</a>
        <ul>
          <li><a  href="/">Hem</a></li>
          <li><a href="/news">Nyheter</a></li>
          <li><a href="/images">Bildarkiv</a></li>
          <li><a  class="activ" href="/add">Lägg till</a></li>
          <li><a href="/settings">Inställningar</a></li>
          <li><a class="tight" href="/">Logga ut</a></li>
        </ul>
      </div>
    </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


  <script src="../static/js/controller.js"></script>
  <script src="../static/js/commentary.js"></script>
  <script src="../static/js/nav_hamburger.js"></script>

</body>
</html>
