/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-aug-08, 12:32:20
    Author     : hannes
*/

html, body {
  height: 100%;
  margin: 0;
}
body{
    background-color: rgba(223, 236, 239, 1) !important;
    height: 100%;
    margin: 0;
}


header{
    height: 40vh;
    
    background-color: rgba(220, 53, 69, 0.6) !important;
    color: white;
}
header > h1{
    margin-top: 10px;
    font-size: 100px;
}
section.sm_container{
    
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    min-height: 50%;

  /* Equal to he    min-height: 50%;ight of footer */
  /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
section.container{
   min-height: 120%;

  /* Equal to he    min-height: 50%;ight of footer */
  /* But also accounting for potential margin-bottom of last child */
    margin-bottom: 50px;
}
.ri{
    margin-left: 40px;
}
main > .row > .col-sm-2 > h3{
    text-align: center;
}
#openMenu{
    position: fixed;
    top: 0;
    
    margin-left: 10px;
    margin-top: 10px;
    width: auto;
    height: auto;
}

#menu{
    width: 100%;
    position: fixed;
    bottom: 0;
    
    display: none;
}

#menu > ul > li > a.navbar-brand{
    font-size: 30px;
}
#menu > ul > li{
    padding: 1px 40px;
}
#menu > ul > li.first > a{
    margin-left: 10px;
}
#menu > ul > li.nav-item > a{
    font-size: 22px;
    padding: 1px 40px;
    margin-top: 10px;
}
#menu > ul > li > a:hover{
    background-color: lightcoral;
}

#menu > ul > li.nav-right > a{
    font-size: 22px;
}
#logInMenu{
    width: 100%;
    position: fixed;
    bottom: 0;
    
    display: none;
}

#logInMenu > ul > li > a.navbar-brand{
    font-size: 30px;
}
#logInMenu > ul > li{
    padding: 1px 40px;
}
#logInMenu > ul > li.first > a{
    margin-left: 10px;
}
#logInMenu > ul > li.nav-item > a{
    font-size: 22px;
    padding: 1px 40px;
    margin-top: 10px;
}
#logInMenu > ul > li > a:hover{
    background-color: lightcoral;
}

#logInMenu > ul > li.nav-right > a{
    font-size: 22px;
}
.right{
    position: fixed;
    right: 0;
}

footer{
    height: 15vh;
    background-color: rgba(220, 53, 69, 0.6) !important;    
}
footer > div > .row{
    padding-top: 4%;
}

footer > div > div > ul{
    list-style: none;
}
footer > div > div > ul li{
    display: inline;
    padding: 5px;
}
footer > div > div > ul > li > a, footer > div > div > a{
    font-size: 110%;
}
footer > div > div > ul > li > a{
    padding: 0px 0px;
    color: black;
    padding: 2px 5px;
    
}
footer > div > div > ul > li > a:hover{
    background-color: lightcoral;
}
.tight{
    margin-left: 500px;
}
.activ{
    padding: 10px 10px;
    border-radius: 20px;
    background-color: rgba(220, 53, 69, 0.2) !important;
    color: white;
}